


body{
  width: 100%;
  height: 100%;
}

nav{
  width: 100%;

}

#losange{
  width: 350px;
  height: 350px;
}

section{
  margin: 0 auto;

}

.blogged{
  margin: 0 auto;
  margin-top: 10%;
}

.info{
  margin: 0 auto ;
  margin-top: 10%;
  margin-left: 20%;

}

#gif-croquis{
  width:419.25px; /*559 419,25 279,5*/ 139.75
  height: 420px; /* 560 420 280*/


}

.croquis{
  margin: 0 auto ;
  margin-top: 10%;
  margin-left: 15%;

}

.line{
  margin-top: 240px;
}

.carousel-indicators{
  margin-top: 40%;
}

#main{
  width: 100%;
  min-height: 935px;
  /* position: absolute; */
  /* margin: 0 auto; */
  margin-bottom: 10%;
  /* border: 2px solid red; */
}

#second{
  width: 100%;
  margin: 0 auto;
  /* min-height: 500px; */
  bottom: 0;
  /* position:relative; */
  /* border: 2px solid green; */
}

#image-losange{
  width: 1162.5px; /* 3100 1350 1162.5 675*/
  height: 1012.5px; /* 2700 1550 775 1012.5  */
  float:left;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-left: 25%;
  /* margin-top: 5%; */
  background-image: url("../../images/DEBASE_losange.png");
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.righted{
  text-align: right;
  margin-top: 15%;
}

.card{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.barre {
	width: 100%;
	background-color: black;
	margin-top: 10%;
	margin-left: 10%;
}

.inclined{
    margin: 0 auto;
    margin-top: 15%;
    margin-right: 42%;
    -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(-45deg);
   /* background-image: url("../../images/kroa.png");
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat; */
}

.item-btn{
  margin-left: 15%;
}




.black-background {background-color:#000000;}
.white {color:#ffffff;}



/* MEDIA QUERIES  */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  nav{
    width: 100%;

  }




  .inclined{
      margin: 0 auto;
      margin-top: 12%;
      margin-right: 20%;
      -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(-45deg);
     /* background-image: url("../../images/kroa.png");
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat; */
  }

  #main{
    width: 100%;
    min-height: 410px;
    /* position: absolute; */
    /* margin: 0 auto; */
    margin-bottom: 10%;
    /* border: 2px solid red; */
  }

#image-losange{
  width: 560px; /* 3100 1350 1162.5 675*/
  height: 465px; /* 2700 1550 775 1012.5  */
  float:left;
  /* border: 1px solid red; */
   margin: 0 auto;
   /* margin-left: 4%; */
   /* margin-top: 5%; */
   background-image: url("../../images/DEBASE_losange.png");
   background-size: 90% 90%;
   background-position: center;
   background-repeat: no-repeat;
 }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  nav{
    width: 100%;

  }




  .inclined{
      margin: 0 auto;
      margin-top: 15%;
      margin-right: 30%;
      -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(-45deg);
     /* background-image: url("../../images/kroa.png");
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat; */
  }

  #main{
    width: 100%;
    min-height: 520px;
    /* position: absolute; */
    /* margin: 0 auto; */
    margin-bottom: 10%;
    /* border: 2px solid red; */
  }

#image-losange{
  width: 675px; /* 3100 1350 1162.5 675*/
  height: 590px; /* 2700 1550 775 1012.5  */
  float:left;
  /* border: 1px solid red; */
   margin: 0 auto;
   margin-left: 4%;
   /* margin-top: 5%; */
   background-image: url("../../images/DEBASE_losange.png");
   background-size: 90% 90%;
   background-position: center;
   background-repeat: no-repeat;
 }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
nav{
  width: 100%;

}




.inclined{
    margin: 0 auto;
    margin-top: 15%;
    margin-right: 40%;  
    -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(-45deg);
   /* background-image: url("../../images/kroa.png");
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat; */
}

#main{
  width: 100%;
  min-height: 520px;
  /* position: absolute; */
  /* margin: 0 auto; */
  margin-bottom: 10%;
  /* border: 2px solid red; */
}

#image-losange{
width: 1162.5px; /* 3100 1350 1162.5 675*/
height: 1012.5px; /* 2700 1550 1012.5 775   */
float:left;
/* border: 1px solid red; */
 margin: 0 auto;
 margin-left: 5%;
 /* margin-top: 5%; */
 background-image: url("../../images/DEBASE_losange.png");
 background-size: 90% 90%;
 background-position: center;
 background-repeat: no-repeat;
  }
}
/*  X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }
/*Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 768px) and (max-width: 1199.98px) { ... }
